

.new-color{
    color: #2abeb3;
    position: relative;
}

.new-color::before {
    content: "";
    width: 55px;
    height: 5px;
    position: absolute;
    background-color: #2abeb3;
    top: -15px;
    left: 10px;
}
.new-color2{
    color: black;
}
.new-color2:hover{
    color: #2abeb3 ;
}


.myclass{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myclass i {
    font-size:50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.263);
    border-radius:50%;
}

.myclass span,.myclass h2, .myclass p{
    color: white;
}

#card1{
    background-color: #2abeb3;
    border-radius: 30px;
}

#card2{
    background-color: #2abeb4d4;
    border-radius: 30px;


}

#card3{
    background-color: #2abeb4b1;
    border-radius: 30px;
}


.headerName{
    color: white;
    padding: 5px;
    background-color:  #2abeb4d4;
    text-align: center;

}

.info{
    color: #2abeb3;
}


.plain i {
color: #2abeb3;
font-size: 20px;
margin-right: 10px;
}

.plain span{
    color: black;
}



.discount {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    width: 87px;
    padding-left: 20px;
    top: -10px;
    right: -35px;
}


.myimg{
    width: 100px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px;
}

.keyFeatureBtn{
    background-color: rgb(225, 221, 221);
}
.keyFeatureBtn:hover{
    background-color:  #2abeb3;
    color: white;

}

.opacityImages{
    width: 200px;
    height: 200px;
}

.myHoleClass .col{
    border: 1px dashed black;
}

.plain2 li{
    margin-top: 10px;
    cursor: pointer;
}
.plain2 li:hover{
    color: #2abeb3;
}